@import "tailwindcss";

:root {
  color-scheme: dark;
}

/* Oculta barras de scroll en todos los navegadores comunes */
.scrollbar-none {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
